.App {
  text-align: center;
  background-color: #1C4E68;
  background-image: url("../photos/plane.gif") no-repeat fixed center;
  // display: flex;
}

body {
  background-color: #1C4E68;
  background-image: url("../photos/plane.gif");
}

.mainPage {
  position: relative;
  display: flex;
  margin: 2px;
  width: 100%;
  text-align: center;
  
}

.main-page-description {
  position: absolute;
  top: 55%;
  right: 1%;
  color: #1C4E68;
}

.button {
  color: #013435;
}

.login-form {
  position: absolute;
  display: inline-block;
  // left: 35%;
  top: 50%;
}

.signup-form {
  position: absolute;
  display: inline-block;
  top: 50%;
}

.navigation-container {
  width: flex;
  margin: 0;
}

.logo {
  height: 80px;
  float: left;
  // width: 400px;
}

.logo-in {
  height: 100px;
  // width: 400px;
}

.profile-icon {
  padding-top: 6px;
}

.search-icon {
  padding-top: 6px;
}

.sidebar {
  clear: both;
}

.log-out {
  font-size: 1.5rem;
}

.background-img {
  height: 50px;
  width: 100px;
  background-size: contain;
  resize: both;
  overflow: scroll;
}

.logged-out-nav-bar-container {
  margin: 0px;
}

.user-info {
  font-family: sans-serif;
  font-style: Verdana;
  font-weight: normal;
  font-size: 16px;
  color: #1C4E68;
  background-color: white;
  text-align: justify;
  font-style: bold;
  padding: 50px;
}

// .teal-text {
//   font-family: sans-serif;
//   font-size: 18px;
//   color: white;
// }

.social-icons {
  width: 95%;
  position: relative;
  color: #e9981e;
  background-color: #eeeef0;
  margin: 10px;
  border: none;
  padding: 5px;
  align-content: center;
  #popup {
    width: 100%;
    text-align: center;
  }

}

.teal-font {
  font-family: sans-serif;
  font-size: 16px;
  color: #013435;
}

.crop-container {
  width: 100%;
  height: 400px;
  position: relative;
}

.controls {
  margin: auto;
  width: 50%;
  height: 80px;
  display: flex;
  align-items: center;
}

.slider {
  padding: 22px 0px;
}

.profilePage {
  // position: absolute;
  // padding: 10px;
  background-color: #1C4E68;
  display: inline-block; 
  margin: 0 auto;
  padding: 1px;
}
/* teal: #246a92 */

/* MEDIA QUERIES */

/* TABLET: potrait */
@media screen and (max-width: 992px) {
  .App {
    margin-top: 70px;
    margin-bottom: 80px;
    height: 3653.59px;
    min-height: 3653.59px;
    min-width: 333px;
   .logo {
      height: 15vw;
      right: 32px;
      top: 15px;
    }
  }
  .mainPage {
    margin-top: 0px;
    margin-bottom: 100px;
    margin-right: 10px;
    margin-left: 10px;
    .main-page-question {
      position: absolute;
      top: 30%;
      left: 24%;
      color: #013435;
    }
    .main-page-buttons {
    
      display: inline-block;
      background-color: #1C4E68;
      /* color: white; */
    }
    .main-page-forms {
      position: absolute;
      display: inline-block;
      left: 350px;
      top: -620px;
    }
  }
}

/* PHONE: potrait */
@media screen and (max-width: 480px) {
  .App{
    margin: 60px 20px 70px 20px;
    .logo {
      height: 15vw;
      top: 11px;
      right: 26px;
    }
  }
  .mainPage {
    margin-top: 0px;
    margin-bottom: 100px;
    margin-right: 10px;
    margin-left: 10px;
    .main-page-question {
      position: absolute;
      top: 30%;
      left: 30%;
      color: teal;
    }
    .main-page-buttons {
      position: absolute;
      top: 30%;
      left: -30%;
      // display: inline-block;
      /* color: white; */
    }
    .main-page-forms {
      position: absolute;
      display: inline-block;
      left: 30%;
      top: 30%;
    }
  }
}

a { 
  color: #1C4E68; 
  cursor: pointer;
}

a:hover { color: #2C8EA7; }

// COLORS

#messages {
  color: #528FBB;
}

$darkTeal: #1C4E68;
$darkGreen: #013435;
$creamy: #FFFFED;
$lightTeal: #2C8EA7;
$gray:	#eeeef0;
$white: #ffffff
