
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

a {
    // display: block;
    padding-right: 35px;
    background-color: white;
    font-size: 30px;
    color: #1C4E68;
}

nav {
    width: 100%;
    overflow: hidden;
    background-color: white;
  }
  
  #navbar a {
    // float: left;
    display: block;
    color: #1C4E68;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
  }
  
  // nav a:hover {
  //   background-color: white;
  //   color: black;
  // }
  
  nav a.active {
    background-color: #4CAF50;
    color: #1C4E68;
  }
  
  
  