.App {
  text-align: center;
  background-color: #246a92;
}

.app-logo {
  position: absolute;
  top: 1%;
  left: 25%;
  display: inline-block;
  height: 20px;
  width: 100px;
}

.main-page-question {
  position: absolute;
  top: 30%;
  left: 24%;
  color: teal;
}

.main-page-description {
  position: absolute;
  top: 30%;
  left: 24%;
  color: #246a92;
}

.main-page-buttons {
  position: absolute;
  top: 18px;
  left: 570px;
  display: inline-block;
  /* color: white; */
}

.button {
  color: teal;
}

/* .ui-teal-basic-button {
  position: absolute;
  top: 10%;
  display: inline-block;
} */

.main-page-forms {
  position: absolute;
  display: inline-block;
  left: 350px;
  top: -620px;
}

.navigation-container {
  width: flex;
  margin: 0;
}

.logo {
  margin-top: 50px;
  margin-bottom: 25px;
}

.profile-icon {
  padding-top: 6px;
}

.search-icon {
  padding-top: 6px;
}

.main-page {
  margin-top: 0px;
  margin-bottom: 100px;
  margin-right: 10px;
  margin-left: 10px;
}

.sidebar {
  clear: both;
}

.log-out {
  font-size: 1.5rem;
}

.background-img {
  height: 50px;
  width: 100px;
  background-size: contain;
  resize: both;
  overflow: scroll;
}

/* .profile-pic {
  height: 300px;
  width: 400px;
} */

#sakura {
  size: 60px, 100px;
}

.logged-out-nav-bar-container {
  margin: 0px;
}

/* teal: #246a92 */